input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
    max-width: 200px;
    min-height: 10px;
    background: #ffffff;
    background-color: rgb(70, 70, 70);
  }
  input[type='range']{
    appearance: none;
  }